<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlmoFireExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04EC63841D408CA40067FBBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EC639B1D408CA50067FBBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04EC63A61D408CA50067FBBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
